<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class=" main w-full h-full bg-zinc-900  p-10 text-white">
        <div class="nav mb-10"> 
            <a href="/" class="text-blue-500">Create Page</a>
            <a href="/read" class=" ml-3 text-blue-500">User Page</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Update User</h1>
         <div class="users flex gap-3 flex-wrap">
          <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
                    <div class="w-full h-52 rounded-lg bg-zinc-500  overflow-hidden">
                        <img class="w-full h-full object-cover" src="<%= user.imageUrl %>">
                    </div>
                    <h3 class="text-xl mt-3 tracking-tighter"> <%= user.name %></h3>
                    <h5 class="text-zinc-500"><%= user.email %></h5>
                </div> 
         </div>
         <div class="mt-7">
            <h1 class="text-3xl tracking-tighter mb-3">Enter updated information</h1>
             <form action="/edit/<%= user._id %>"" method="post">
                 <input class="px-5 py-2 border-2 border-zinc-800  bg-transparent rounded-lg outline-none" type="text" name= "name" placeholder="Name" value=" <%= user.name %>">
                 <input class="px-5 py-2 border-2 border-zinc-800  bg-transparent rounded-lg outline-none" type="text" name= "email" placeholder="Email" value="<%= user.email %>">
                 <input class="px-5 py-2 border-2 border-zinc-800  bg-transparent rounded-lg outline-none" type="text" name= "imageUrl" placeholder="Image url" value="<%= user.imageUrl %>">
                 <input  class="px-5 py-2 bg-blue-500 rounded-lg ml-3" type="submit" value="Update User">
             </form>
         </div>

    </div>
</body>
</html>